	<script type="text/javascript" src="{{ site.baseurl }}/argus-logo.js"></script>

	<script>
		(function(){
  		"use strict";

			var argusColors = {
				pupil: '#003300',
				sclera: '#feff6d',
				liner: '#003300'
			};

			var containerNode1 = $('#Logo1 .name');

			argusLogo.eye({
				color: argusColors,
				container: argusLogo.container(containerNode1),
				posX: 58,
				posY: 30,
				diameter: 16,
				render: true,
				gloss: false,
				pupilDirection: 'rightBottom',
				animateInterval: 32
			});

			argusLogo.eye({
				color: argusColors,
				container: argusLogo.container(containerNode1),
				posX: 195,
				posY: 30,
				diameter: 16,
				render: true,
				gloss: false,
				pupilDirection: 'bottom',
				animateInterval: 32
			});

			argusLogo.eye({
				color: argusColors,
				container: argusLogo.container(containerNode1),
				posX: 293,
				posY: 30,
				diameter: 16,
				render: true,
				gloss: false,
				pupilDirection: 'leftBottom',
				animateInterval: 32
			});

		})();
	</script>
